:root, body {
  background-color: #fafaf9;
  font-family: 'Lora', 'Times New Roman', Times, serif;
  font-weight: 200;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}
.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}
.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}
.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}
.lora-400 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


header {
  margin: 20px 10px 40px 10px;
}

.ui.header {
  font-family: 'Arvo', 'Times New Roman', Times, serif;
  font-weight: 400;
  color: #2D8F8D;
}

a, .ui.breadcrumb a {
  color: #2D8F8D;
}

a:hover, .ui.breadcrumb a:hover {
  color: #1a605f;
}

footer {
  margin: 30px 10px 20px 10px;
  padding-bottom: 20px;
}

main {
  margin-left: 12vw;
  margin-right: 12vw;
}

#main-article {
  margin-top: 20px;
}

#main-article table {
  max-width: 100%;
  width: 100%
}

.search-bar > .ui.input {
  width: 100%;
}

#filter-article .accordion {
  padding-right: 30px;
}
#filter-article .accordion>.active.content>.ui.stackable.grid {
  margin-bottom: 10px;
}
#filter-article .ui.header>.icon {
  font-size: 1.2em;
}
#filter-article .ui.styled.accordion .accordion .content, #filter-article .ui.styled.accordion .content {
  padding: 5px 0px 5px 20px;
}
#filter-article .ui.stackable.grid>.row {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#filter-article .ui.stackable.grid>.row>.column {
  padding-bottom: 0px !important;
}
#filter-article .ui.stackable.grid>.row>.column:not(:first-child) {
  padding-top: 5px !important;
}

.ui.input > input {
  background: #fafaf9;
}
.ui.selection.dropdown {
  background-color: #fafaf9;
}
.ui.dropdown .menu {
  background-color: #fafaf9;
}

.ui.table.list-tl {
  background-color: #fafaf9;
}
.ui.table.list-tl thead tr, .ui.table.list-tl thead th {
  background-color: #eff0ea;
  color: rgb(28 55 4);
  font-family: 'Arvo', 'Times New Roman', Times, serif;
  font-weight: 400;
}
.ui.table.list-tl tfoot th {
  background-color: #fcfcfb;
}

.table-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-footer-info-songs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Arvo', 'Times New Roman', Times, serif;
}

.engine-label {
  padding: 2px 4px !important;
  border-radius: 10px;
  margin-right: 4px !important;
}

.active-filter {
  color: #4ad93b;
}

.circle-element {
  font-weight: bold;
}

.lang-tag {
  font-family: "Lucida Console", Monaco, monospace;
}

.filterable-column {
  display: inline-block;
  cursor: pointer;
}

.sort-label {
  font-family: 'Arvo', 'Times New Roman', Times, serif;
  margin-top: 20px;
  text-align: right;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  td.center.aligned {
    text-align: left !important;
  }
  .ui.table:not(.unstackable) thead th:first-child {
    display: none !important;
  }
  .ui.table:not(.unstackable) thead th {
    margin-left: 40px !important;
  }
  .ui.table:not(.unstackable) tbody tr {
    vertical-align: top;
  }
  .ui.table:not(.unstackable) td {
    margin-left: 40px !important;
  }
  .ui.table:not(.unstackable) td:first-child {
    display: inline-block !important;
    width: 30px !important;
    margin-left: 10px !important;
    float: inline-start;
  }
  /* .ui.table:not(.unstackable) td:nth-child(2) {
    display: inline-block !important;
    margin-left: 0px !important;
  } */
  .ui.table.list-tl tbody td h3 {
    margin-bottom: 3px;
  }
  .ui.table.list-tl thead th.lang-cell, .ui.table.list-tl tbody td.lang-cell {
    display: inline-block !important;
    padding-right: 0px !important;
  }
  .ui.table.list-tl thead th.release-year-cell, .ui.table.list-tl tbody td.release-year-cell {
    display: inline-block !important;
    padding-left: 0px !important;
    margin-left: 5px !important;
  }
  .ui.table.list-tl thead th.release-year-cell::before, .ui.table.list-tl tbody td.release-year-cell::before {
    content: "/";
    margin-right: 5px;
  }
  .table-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .table-footer-info-songs {
    margin-bottom: 10px;
    font-weight: 400 !important;
  }
  #filter-article .accordion {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  :root, body {
    background-color: #011516;
    color: #dcdcc7;
  }
  .ui.header, .ui.toggle.checkbox label {
    color: #dcdcc7;
  }
  .ui.header .sub.header {
    color: #dcdcc790;
  }
  .ui.input>input, .ui.dropdown>input {
    background: #586758;
    color: #dcdcc7;
  }
  .ui.input>input:focus, .ui.dropdown>input:focus {
    background: #828c82;
    color: #ffffff;
  }
  .ui.input>input:focus::placeholder {
    color: #dcdcc7;
  }
  .ui.selection.dropdown {
    background-color: #586758;
  }
  .ui.selection.dropdown.active, .ui.selection.dropdown.active>.text:not(.default) {
    background: #40413f;
    color: #ffffff;
  }
  .ui.dropdown .menu {
    background-color: #40413f;
  }
  .ui.selection.dropdown .menu>.item {
    border-top: 1px solid #c7c7c7;
  }
  .ui.search>.results {
    background-color: #40413f;
  }
  .ui.search>.results .result:hover {
    background-color: #586758;
  }
  .ui.search>.results .result .title {
    color: #f0f8ff;
    border-top-color: #c7c7c7;
  }
  .ui.search>.results .result .description {
    color: #dcdcc7;
  }
  .ui.dropdown .text {
    color: #f0f8ff;
  }
  .ui.dropdown .message, .ui.dropdown .description {
    color: #f0f8ffc5 !important;
  }
  .ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
    color: #ebebdd;
  }
  .ui.default.dropdown:not(.button)>input:focus~.text, .ui.dropdown:not(.button)>input:focus~.default.text {
    color: #ebebdd;
  }
  .ui.toggle.checkbox label:active, .ui.checkbox input:focus~label, .ui.toggle.checkbox input:checked~.box, .ui.toggle.checkbox input:checked~label, .ui.toggle.checkbox input:focus:checked~.box, .ui.toggle.checkbox input:focus:checked~label {
    color: #fcfcfb !important;
  }
  .ui.table.list-tl {
    background-color: #022627;
    color: #bcbcb6;
  }
  .ui.table.list-tl thead th, .ui.table.list-tl tbody td {
    border-color: #fcfcfb2e;
  }
  .ui.table.list-tl thead tr, .ui.table.list-tl thead th {
    background-color: #073c3d;
    color: #fcfcfb;
  }
  .ui.table.list-tl tfoot th {
    background-color: #073c3d;
    color: #dcdcc7;
  }
  .table-footer .ui.menu {
    background-color: #022627;
    border: solid 1px #dcdcc7a2;
  }
  .table-footer .ui.menu .item {
    color: #dcdcc7;
    border-left: solid 1px #dcdcc730;
    border-right: solid 1px #dcdcc730;
  }
  .table-footer .ui.menu .active.item, .table-footer .ui.menu .item:hover {
    color: #fcfcfb;
  }
  .table-footer .ui.menu .active.item {
    background-color: #0a393d;
  }
  a {
    color: #89c893;
  }
  a:hover {
    color: #b2ddb9;
  }
  .ui.breadcrumb a {
    color: #dcdcc7;
  }
  .ui.breadcrumb .divider {
    color: #dcdcc75e;
  }
  .ui.breadcrumb a:hover {
    color: #fcfcfb;
  }
  .credit-popup {
    background-color: #022627 !important;
    color: #dcdcc7 !important;
  }
  .credit-popup::before {
    background-color: #022627 !important;
  }
  .ui.styled.accordion {
    background-color: #0a393d; /* #13300a */
  }
  .ui.toggle.checkbox input~.box:before, .ui.toggle.checkbox input~label:before {
    background-color: #0d71bb !important;
  }
  .ui.toggle.checkbox input:focus~.box:before, .ui.toggle.checkbox input:focus~label:before {
    background-color: #2b8edb !important;
  }
  .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #2ba71a !important;
  }
  .ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #178209 !important;
  }
}